:host{
    width: 100%;
    height: 100%;

    .todo-list-container {
        margin: 0 30%;
    }

    .list-item {
        width: 95%;
        .crossed-out {
            text-decoration: line-through;
        }
    }

    .button-icon {
        float: right;
    }

}