<div class="todo-list-container">
    <div *ngIf="(error$ | async) as error">
        <div class="alert alert-danger" role="alert">
            {{ error.message }}
        </div>
    </div>
    <mat-card>
        <mat-card-title>
            <div class="todo-title">Todo List</div> 
            <button mat-icon-button (click)="openDialog()"><mat-icon>add</mat-icon></button>
        </mat-card-title>
        <mat-card-content>
            <mat-list role="list" *ngIf="(todoList$ | async) as todoList">
                <mat-list-item *ngFor="let todo of todoList | sort:'state'">
                    <mat-checkbox  class="list-item" [checked]="todo.state" [class.crossed-out]="todo.state" (change)="toggleOption($event, todo)">{{ todo.title }}</mat-checkbox>
                    <button class="button-icon" mat-icon-button (click)="goToDetail(todo)"><mat-icon>search</mat-icon></button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
